/* Reset style */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #dce1de;
  color: #001516;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  color: #001516;
}

a:hover {
  color: #104c4f;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

/* Header */

header {
  background: #216869;
}

.header {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #fff;
  font-size: 2rem;
}

header ul {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

header a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding: 10px;
}

header a:hover {
  color: #49a078;
}

@media (max-width: 600px) {
  header {
    background: none;
  }

  .header {
    justify-content: center;
  }

  .header h1 {
    color: #001516;
    line-height: 5;
    height: 90px;
    margin-bottom: 20px;
  }
  .header nav {
    width: 100%;
    background: #216869;
    padding: 10px;
    justify-items: center;
  }
}

/* Main */
.title {
  font-size: 30px;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 0;
}

@media (max-width: 600px) {
  .title {
    max-width: 300px;
    line-height: 1.2;
    margin: 0 40px;
    padding: 40px 0;
  }
}

/* About Section */

.about {
  max-width: 960px;
  background-color: #49a078;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: bottom;
  gap: 40px;
}

.content {
  flex: 2 1 400px;
  max-width: 900px;
  overflow: visible;
}

.content h2 {
  font-size: 3rem;
  color: #ffff;
  margin-bottom: 1em;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #dce1de;
  margin-bottom: 1em;
}

.image-content {
  flex: 1 1 200px;
  display: flex;
  gap: 20px;
}

.image-content img {
  object-fit: cover;
}

.img1 {
  max-width: 220px;
  max-height: 550px;
}

.img2 {
  max-width: 220px;
  max-height: 220px;
}

@media (max-width: 600px) {
  .about {
    flex-direction: column;
    align-items: center;
    position: relative; /* mantém como referência */
  }

  .image-content {
    position: absolute; /* tira do fluxo */
    top: -200px; /* sobe para cima do about */
    right: 20px; /* ajusta pro lado */
    width: 120px;
    height: 300px;
  }

  .image-content img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
}

/* Club Section */
.club {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 45px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.club h2 {
  font-size: 2rem;
  color: #ffff;
  margin-bottom: 1em;
}

.club-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.club-item {
  background-color: #fff;
  padding: 40px 0;
  border-radius: 5px;
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.club-item h3 {
  font-size: 1.5rem;
  color: #001516;
}

.blue-1 {
  border-top: 10px solid #dce1de;
}

.blue-2 {
  border-top: 10px solid #9cc5a1;
}

.blue-3 {
  border-top: 10px solid #49a078;
}

.club-item p {
  font-size: 1rem;
  line-height: 2;
  color: #001516;
}

.club-item ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.club-item span {
  font-size: 3rem;
  font-weight: bold;
  color: #216869;
  border-bottom: #dce1de solid 2px;
  padding: 20px 60px;
}

.club-item sup {
  font-size: 1.5rem;
  font-weight: normal;
}

.club-item li {
  margin-top: 10px;
  font-size: 1em;
  color: #001516;
}

/* More Content */

.more {
  background-color: #9cc5a1;
  margin: 0 auto;
  padding: 60px 45px;
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.more h2 {
  font-size: 2rem;
}

.more h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  color: #001516;
}

.more p {
  font-size: 1rem;
  line-height: 1.5;
  color: #001516;
}

.more p:hover {
  color: #216869;
}

.title-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.more span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #216869;
  margin-bottom: 0.5em;
}

/* Contact Section */

.contact {
  background: #49a078;
  margin: 0 auto;
  padding: 60px 45px;
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact h3 {
  font-size: 2rem;
  color: #dce1de;
  margin-bottom: 1em;
}

.contact p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #dce1de;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.8rem;
}

@media (max-width: 700px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
  .content {
    margin: 0;
  }
}
